@use '../../styles/ne-global-imports' as *;
@use '~uswds/usa-site-alert/src/styles/usa-site-alert';
@use '~uswds/usa-alert/src/styles/usa-alert';

$uswds-block: 'usa-alert';

// stylelint-disable-next-line scss/selector-nest-combinators
.usa-site-alert .#{$uswds-block},
.#{$uswds-block} {

	.#{$uswds-block}__heading {
		@include u-font('heading', 'lg');
		@include u-font-weight('bold');
	}

	.#{$uswds-block}__body {
		font-size: size('body', 'sm');
	}
}

.#{$uswds-block} {
	margin-bottom: units(1.5);
}

.usa-site-alert {
	.#{$uswds-block} {
		margin-bottom: 0;
	}
}
